@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');

/*BLUE COLOR? #2059b5*/

body {
	font-family: 'VT323', monospace;
	background-color: #222;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

#header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	background-color: #000;
}

#header h1 {
	padding: 20px 0px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: #FFF;
	text-shadow: 2px 2px 0px #2059b5;
}

#content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	background-color: #000;
}

#arena {
	width: 100%;
	height: 50%;
	flex: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#menu {
	width: 100%;
	height: 50%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-image: -ms-linear-gradient(top, #2059B5 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #2059B5 0%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2059B5), color-stop(100, #000000));
  background-image: -webkit-linear-gradient(top, #2059B5 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #2059B5 0%, #000000 100%);
  border-left: 4px solid rgba(255, 255, 255, 0.6);
  border-top: 4px solid rgba(255, 255, 255, 0.7);
  border-right: 4px solid rgba(255, 255, 255, 0.6);
	border-bottom: 4px solid rgba(255, 255, 255, .9);
	flex: 1.3;
}

#footer {
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #FFF;
}

#sound {
	color: rgba(255, 255, 255, 0.7);
}

#display {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

#footer {
	padding: 10px 0;
}

#battleField {
	width: 100%;
}

#info {
	color: #FFF;
	padding: 20px 30px;
	font-size: 24px;
	text-shadow: 2px 2px 0px #111;
	line-height: 1.2em; 
}

.container {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
}

.sprite {
	width: 5%;
	cursor: pointer;
}

.sprite:hover {
	animation: hop 0.4s infinite;
}

@keyframes hop {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px) scale(1.05);
	}
	100% {
		transform: translateY(0px) scale(1);
	}
}

@media screen and (max-width: 480px) {
	.sprite {
		width: 10%;
	}
	.container {
		width: 100%;
	}
	#header h1 {
		font-size: 20px;
	}
	#info {
		font-size: 16px;
	}
	.headerContent {
		justify-content: space-around;
		width: 100%;
	}
}

@media screen and (max-width: 1080px) and (min-width: 480px) {
	.sprite {
		width: 10%;
	}
	#header h1 {
		font-size: 40px;
	}
	.headerContent {
		justify-content: space-around;
		width: 100%;
	}
	#info {
		font-size: 2em;
	}
	.container {
		width: 100%;
	}
}